    .header{
        margin-top: 71px;
        width: 100%;
        position: relative;
        justify-content: center;
        display: flex;
    }
    .header img{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    .header h1, .header h3{
        position: absolute;
    }
    .header h1{
        top: -50px;
        font-family: 'Pacifico', cursive;
        font-size: 3.8rem;
        color: white;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5),0px 0px 6px rgba(0, 0, 0, 0.5),0px 0px 10px rgba(0, 0, 0, 0.6);
    }
    .header h3 {
        font-family: "Satisfy", cursive;
        top: 80px;
        font-size: 2.5rem;
        text-shadow: 0px 0px 2.8px rgba(0, 0, 0, 0.5),0px 0px 5.8px rgba(0, 0, 0, 0.2);
    }

    /* Scroll Animation */
    .header{
        transform: translateX(-35px);
        transition: all 0.5s;
        opacity: 0;
    }
    .header.active{
        transform: translateX(0px);
        opacity: 1;
    }
    .header h1, .header h3{
        position: absolute;
        transform: translateY(-25px);
        transition: all 0.7s;
        opacity: 0;
     }
    .header.active h1, .header.active h3{
        position: absolute;
        transform: translateY(0px);
        opacity: 1;
    }
    .header h3{
        transition-delay: 0.3s;
        position: absolute;
        transform: translateY(-25px);
     }
   
   