.sidebar {
    flex: 3;
    padding: 0px 20px;

}

.sidebar .area {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-bottom: 30px;
}

.sidebar h2 {
    width: 100%;
    margin-bottom: 10px;
    font-family: "Pacifico", cursive;
    display: flex;
    justify-content: center;
    position: relative;
}

.sidebar h2::after {
    content: '';
    height: 2px;
    width: 50%;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.sidebar img {
    margin: 0 auto;
    border-radius: 10px;
}

.sidebar .kategori {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar .kategori span {
    width: calc(50% - 10px);
    display: block;
    font-family: "Arvo", serif;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar a {
    display: block;
    padding: 3px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
}
.sidebar a:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.09);
}

/* Scroll Animation */

.sidebar .area{
    opacity: 0;
    transition: all 0.5s;
}
.sidebar .area.active{
    opacity: 1;
}